/* Basic Reset and Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #043835;
    --secondaryBackground: #0a615e;
    --text: #fff;
    --green: #5ab0b4;
    --teal: #92f3ec;
}

body {
        background: linear-gradient(45deg, #043835, #0a615e);
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
        color: var(--text);
        font-family: sans-serif;
    }
    
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } 

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    max-width: 500px;
}

.stats-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--green);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.details {
    width: 100%;
}

#progressbar {
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}

#progress {
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers {
    width: 100px;
    height: 100px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--green);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.taskItem {
    width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input {
    width: 20px;
    height: 20px;
}

.completed p {
    text-decoration: line-through;
    color: var(--teal);
}

.taskItem i {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
}

.taskItem i:hover {
    color: var(--teal);
}
